fastapi[standard]
pydantic_settings
tortoise-orm[asyncpg]
firebase-admin
pyrebase4
python-jose[cryptography]
setuptools
reportlab
psycopg2-binary  
cloud-sql-python-connector[pg8000]  # Opcional para conexión segura en GCP